.game-board {
    display: flex;
    flex-direction: column;
}

.player-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.game-buttons {
    margin: 5px 0;
}
p {
    margin: 10px 0;
}

